# For developers, the packages below are required.

# For running doctests (during "python setup.py test")
Sphinx >= 1.4.5
sphinx_bootstrap_theme

# Linters
pylama-pylint >= 3.0.1
radon >= 1.4.0

# Code coverage
coverage >= 4.1
