# For developers, the packages below are required.

# For running doctests (during "python setup.py test")
Sphinx >= 1.4.5

# Linters, also for test
pylama >= 7.0.9
pylama-pylint >= 2.2.1

# Code coverage
coverage >= 4.1
radon >= 1.4.0
