/* solarized dark style for solar theme */

/*style pre scrollbar*/
#kytos-theme-content-container pre::-webkit-scrollbar,
#kytos-theme-content-container .highlight::-webkit-scrollbar {
  height: 0.5em;
  background: #073642;
}

#kytos-theme-content-container pre::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: #93a1a1;
}

/* pygments style */
#kytos-theme-content-container .highlight .hll { background-color: #ffffcc }
#kytos-theme-content-container .highlight { background: #002B36!important; color: #93A1A1; }
#kytos-theme-content-container .highlight pre { background: none; color: #93A1A1; border: 0; }
#kytos-theme-content-container .highlight .c { color: #586E75 } /* Comment */
#kytos-theme-content-container .highlight .err { color: #93A1A1 } /* Error */
#kytos-theme-content-container .highlight .g { color: #93A1A1 } /* Generic */
#kytos-theme-content-container .highlight .k { color: #859900 } /* Keyword */
#kytos-theme-content-container .highlight .l { color: #93A1A1 } /* Literal */
#kytos-theme-content-container .highlight .n { color: #93A1A1 } /* Name */
#kytos-theme-content-container .highlight .o { color: #859900 } /* Operator */
#kytos-theme-content-container .highlight .x { color: #CB4B16 } /* Other */
#kytos-theme-content-container .highlight .p { color: #93A1A1 } /* Punctuation */
#kytos-theme-content-container .highlight .cm { color: #586E75 } /* Comment.Multiline */
#kytos-theme-content-container .highlight .cp { color: #859900 } /* Comment.Preproc */
#kytos-theme-content-container .highlight .c1 { color: #586E75 } /* Comment.Single */
#kytos-theme-content-container .highlight .cs { color: #859900 } /* Comment.Special */
#kytos-theme-content-container .highlight .gd { color: #2AA198 } /* Generic.Deleted */
#kytos-theme-content-container .highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
#kytos-theme-content-container .highlight .gr { color: #DC322F } /* Generic.Error */
#kytos-theme-content-container .highlight .gh { color: #CB4B16 } /* Generic.Heading */
#kytos-theme-content-container .highlight .gi { color: #859900 } /* Generic.Inserted */
#kytos-theme-content-container .highlight .go { color: #93A1A1 } /* Generic.Output */
#kytos-theme-content-container .highlight .gp { color: #93A1A1 } /* Generic.Prompt */
#kytos-theme-content-container .highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
#kytos-theme-content-container .highlight .gu { color: #CB4B16 } /* Generic.Subheading */
#kytos-theme-content-container .highlight .gt { color: #93A1A1 } /* Generic.Traceback */
#kytos-theme-content-container .highlight .kc { color: #CB4B16 } /* Keyword.Constant */
#kytos-theme-content-container .highlight .kd { color: #268BD2 } /* Keyword.Declaration */
#kytos-theme-content-container .highlight .kn { color: #859900 } /* Keyword.Namespace */
#kytos-theme-content-container .highlight .kp { color: #859900 } /* Keyword.Pseudo */
#kytos-theme-content-container .highlight .kr { color: #268BD2 } /* Keyword.Reserved */
#kytos-theme-content-container .highlight .kt { color: #DC322F } /* Keyword.Type */
#kytos-theme-content-container .highlight .ld { color: #93A1A1 } /* Literal.Date */
#kytos-theme-content-container .highlight .m { color: #2AA198 } /* Literal.Number */
#kytos-theme-content-container .highlight .s { color: #2AA198 } /* Literal.String */
#kytos-theme-content-container .highlight .na { color: #93A1A1 } /* Name.Attribute */
#kytos-theme-content-container .highlight .nb { color: #B58900 } /* Name.Builtin */
#kytos-theme-content-container .highlight .nc { color: #268BD2 } /* Name.Class */
#kytos-theme-content-container .highlight .no { color: #CB4B16 } /* Name.Constant */
#kytos-theme-content-container .highlight .nd { color: #268BD2 } /* Name.Decorator */
#kytos-theme-content-container .highlight .ni { color: #CB4B16 } /* Name.Entity */
#kytos-theme-content-container .highlight .ne { color: #CB4B16 } /* Name.Exception */
#kytos-theme-content-container .highlight .nf { color: #268BD2 } /* Name.Function */
#kytos-theme-content-container .highlight .nl { color: #93A1A1 } /* Name.Label */
#kytos-theme-content-container .highlight .nn { color: #93A1A1 } /* Name.Namespace */
#kytos-theme-content-container .highlight .nx { color: #93A1A1 } /* Name.Other */
#kytos-theme-content-container .highlight .py { color: #93A1A1 } /* Name.Property */
#kytos-theme-content-container .highlight .nt { color: #268BD2 } /* Name.Tag */
#kytos-theme-content-container .highlight .nv { color: #268BD2 } /* Name.Variable */
#kytos-theme-content-container .highlight .ow { color: #859900 } /* Operator.Word */
#kytos-theme-content-container .highlight .w { color: #93A1A1 } /* Text.Whitespace */
#kytos-theme-content-container .highlight .mf { color: #2AA198 } /* Literal.Number.Float */
#kytos-theme-content-container .highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
#kytos-theme-content-container .highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
#kytos-theme-content-container .highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
#kytos-theme-content-container .highlight .sb { color: #586E75 } /* Literal.String.Backtick */
#kytos-theme-content-container .highlight .sc { color: #2AA198 } /* Literal.String.Char */
#kytos-theme-content-container .highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
#kytos-theme-content-container .highlight .s2 { color: #2AA198 } /* Literal.String.Double */
#kytos-theme-content-container .highlight .se { color: #CB4B16 } /* Literal.String.Escape */
#kytos-theme-content-container .highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
#kytos-theme-content-container .highlight .si { color: #2AA198 } /* Literal.String.Interpol */
#kytos-theme-content-container .highlight .sx { color: #2AA198 } /* Literal.String.Other */
#kytos-theme-content-container .highlight .sr { color: #DC322F } /* Literal.String.Regex */
#kytos-theme-content-container .highlight .s1 { color: #2AA198 } /* Literal.String.Single */
#kytos-theme-content-container .highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
#kytos-theme-content-container .highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
#kytos-theme-content-container .highlight .vc { color: #268BD2 } /* Name.Variable.Class */
#kytos-theme-content-container .highlight .vg { color: #268BD2 } /* Name.Variable.Global */
#kytos-theme-content-container .highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
#kytos-theme-content-container .highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
