/*
#5d4796
#5f21b7
#352169

#5d64d0
#58488a
#4A4090
*/

.rst-content dl:not(.docutils) dl.method code.descname {
  color: #4A4090;
}
.rst-content dl:not(.docutils) dl dt {
    margin-bottom: 6px;
    border: none;
    border-left: solid 3px #5d4796;
    background: white;
    color: #352169;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #5d4796;
}

code, .rst-content tt, .rst-content code {
    white-space: nowrap;
    max-width: 100%;
    background: #ebebeb;
    border: solid 1px #5f21b7;
    font-size: 75%;
    padding: 0 5px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #E74C3C;
    overflow-x: auto;
}

.wy-side-nav-search input[type="text"] {
 border-color: white;
}
.wy-side-nav-search {
  background-color: #4A4090;
}

.wy-nav-top {
  background: #4A4090;
}

a {
  color: #6e5baa;
  text-decoration: none;
}

.rst-content dl:not(.docutils) dt {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #5d4796;
    color: rgba(255,255,255, 0.5);
    border-top: 3px solid #352169;
    padding: 6px;
    position: relative;
}

.rst-content dl:not(.docutils) code.descclassname {
    display: none;
/*
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    color: #352169;
*/
}

.rst-content dl:not(.docutils) code.descname {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    color: white;
    margin: 0px 5px 0px 0px;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 900px;
    margin: auto;
}
